
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    background: #f1f4fd;
  }
  .sliderWrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
  }
  .sliderWrapper .imageList {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .sliderWrapper .imageList::-webkit-scrollbar{
    display: nonef;
  }
  .sliderWrapper .imageList .img {
    width: 325px;
    height: 400px;
    margin: 0 15px;
  }
  .sliderWrapper .slider-button{
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translateY(-50%);
    outline: none;
    cursor: pointer;
    font-size: 38px;
  }
  .sliderWrapper .left{
    top: 50%;
    left: 20px;
  }
  .sliderWrapper .right{
    top: 50%;
    right: 20px;
  }
  